<!DOCTYPE html>
<html>
  <head>
    <title>RestSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<%= link_to "Register with 'provider'", user_facebook_omniauth_authorize_path, method: :post %>

<%= link_to "Register with 'provider'", user_google_oauth2_omniauth_authorize_path, method: :post %>
    <%= yield %>
  </body>
</html>
